<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="./output.css" rel="stylesheet"> -->
     {% load static %}
    <link href="{% static 'output.css' %}" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="relative w-full h-[100vh] flex justify-center items-center bg-gray-100">
        <div class="relative w-full h-[90vh] border border-black rounded mx-12 flex flex-col">
            <Nav class="w-full flex justify-around text-sm py-4 border border-bottom-2px">
                <h2>Dashboard</h2>
                <input class="w-40 rounded  border-gray-300 shadow-2xl" placeholder="search"/>
                <p>Dashboard Report</p>
                <p>Account: Don Raburu</p>
            </Nav>

            <div class="relative flex w-full justify-between">
                <div class="border border-gray-300 rounded-md">
                    <div class="flex justify-between w-full">
                    <h4>progress tracker</h4>
                    <h4>Monthly</h4>
                    </div>

                    <div class="w-100 flex">
                        <div class="border border-left-2px h-full">
                            <img src="" alt="image"/>
                            <h4>avg calories</h4>
                        </div>
                        <div class="flex flex-col justify-around">
                            <h4>avg calories</h4>
                            <h4>avg carbs</h4>
                            <h4>avg proteins</h4>
                        </div>
                    </div>
                </div> 

                <div class=" border border-gray-300 rounded-md">
                    <div class="flex justify-between w-100 bg-red-400">
                    <h2>Calories (KCL)</h2>
                    <h4>Monthly</h4>
                    </div>                    

                    <div class="w-100 flex">
                        <div class="border border-gray-300 h-32 my-2 rounded-md w-100">
                            
                        </div>
                        <div class="w-24 flex flex-col justify-around mx-2">
                            <h4>Breakfast </h4>
                            <h4>Lunch</h4>
                            <h4>Dinner</h4>
                        </div>
                    </div>
                </div>
                    


            </div>
        </div>
    </div>
</body>
</html>